/* Universal Styles */
body {
    margin: 0px;
}


/* Nav bar */
nav {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

nav li {
    display: inline;
}