/* Universal Styles */
body {
    margin: 0px;
}

h1, h2, h3 {
    font-family: 'Roboto Mono', sans-serif;
}

p {
    font-family: 'Roboto Mono', sans-serif;
}

#about-me-section {
    padding-top: 120px;
}

.section-container {
    display: inline-flex;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
}

/* Nav bar */
nav {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    display: inline-flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    background-color: white;
}

nav h1 {
    font-size: 32px;
}

nav li {
    display: inline;
    font-family: 'Roboto Mono', sans-serif;
    padding: 10px;
    font-style: italic;
}

nav li a {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
}

nav li a:hover{
    cursor: pointer;
    background-color: aliceblue;
}

/* About Me */
#about-me-section {
    top: 10px;
}

#profile-picture {
    width: 200px;
    height: 200px;
    background-color: black;
}

.about-content {
    padding-left: 20px;
}

#clemson-logo {
    height: 200px;
    width: 200px;
}

/* Skills */
.icon-container {
    display: inline-flex;
    justify-content: space-around;
    padding: 0 10px;
}

.icon {
    width: 50px;
    height: 50px;
    padding: 0 10px;
}

.skills-content {
    padding-left: 20px;
    padding-right: 20px;
}

/* Contact */


#contact-section ul {
    list-style-type: none;
}

#contact-section li {
    padding: 10px;
    display: inline;
}

#contact-section a {
    text-decoration: none;
}

#contact-section .icon {
    width: 25px;
    height: 25px;
}