/* Universal Styles */
body {
    margin: 0px;
}

.section-container {
    display: inline-flex;
    width: 100%;
    padding: 40px;
}

/* Nav bar */
nav {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

nav li {
    display: inline;
}

/* About Me */
#profile-picture {
    width: 200px;
    height: 200px;
    background-color: black;
}

.about-content {
    padding-left: 20px;
}

#clemson-logo {
    height: 200px;
    width: 200px;
}
